*
!.gitignore
!LICENSE
!main.py
!README.md
!requirements.txt
!autoupdateinfo.txt
!cogs/
!cogs/*.py
!extension/
!extension/**
!MIGRATION.md
!FEATURE_PARITY.md
!.gitlab-ci.yml
!install/
!install/*
!fonts/
!fonts/*
!docker/
!docker/*
!.github/
!.github/workflows/
!.github/workflows/docker.yml
!tests/
!tests/**